doctype html
html(lang="en")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(rel='stylesheet', href='./app/app.css')
        title CALC

    body(data-spy='scroll' data-target='.navbar' data-offset='50')

        include ./main/_main.jade