section#section-0.main-banner.section
  #particles-js

  h1 Calculator
  br
  h3 fuck this shit aaaa calculate some numbers

  .scrolldown-icon
    a(data-menuanchor='about', href='#about')
      span.glyphicon.glyphicon-menu-down